// Source images
$btn_v_dec: inline-image("btn_v_dec.png")
$btn_v_inc: inline-image("btn_v_inc.png")
$btn_h_dec: inline-image("btn_h_dec.png")
$btn_h_inc: inline-image("btn_h_inc.png")
$btn_v_dec_d: inline-image("btn_v_dec_d.png")
$btn_v_inc_d: inline-image("btn_v_inc_d.png")
$btn_h_dec_d: inline-image("btn_h_dec_d.png")
$btn_h_inc_d: inline-image("btn_h_inc_d.png")

$thumb-v: inline-image("throb.png")
$thumb-hover-v: inline-image("throb-hover.png")
$thumb-click-v: inline-image("throb-click.png")
$thumb-h: inline-image("throb-h.png")
$thumb-hover-h: inline-image("throb-hover-h.png")
$thumb-click-h: inline-image("throb-click-h.png")

$trough: inline-image("trk.png")
$trough_color: #d1d1d1

// Element widths
$trough_width: 17px
$trough_height: $trough_width
$trough_pad: 1px

$btn_v_height: 16px
$btn_h_width: 16px

// Marker rule, used to identify the stylesheet from JS
.adwaita_scrollbars
  display: none

\:not(iframe)
  &::-webkit-scrollbar 
    background-color: $trough_color
    &:vertical
      width: $trough_width
    &:horizontal
      height: $trough_height

  &::-webkit-scrollbar-button
    &:vertical
      height: $btn_v_height
      &:start:decrement
        background-image: $btn_v_dec
        &:disabled
          background-image: $btn_v_dec_d
      &:end:increment
        background-image: $btn_v_inc
        &:disabled
          background-image: $btn_v_inc_d
    &:horizontal
      width: $btn_h_width
      &:start:decrement
        background-image: $btn_h_dec
        &:disabled
          background-image: $btn_h_dec_d
      &:end:increment
        background-image: $btn_h_inc
        &:disabled
          background-image: $btn_h_inc_d

  &::-webkit-scrollbar-thumb
    &:vertical,
    &:horizontal
      border: 5px solid red
      min-height: 36px
      -webkit-border-image: $thumb-v 5 round stretch
      &:hover
        -webkit-border-image: $thumb-hover-v 5 round stretch
      &:active
        -webkit-border-image: $thumb-click-v 5 round stretch
